<div data-ng-include="'/modules/cms/public/scripts/partials/main-menu.html'"></div>
<div class="col-xs-10 full-height content-area">
    <div class="page-header">
        <h1>Episode {{data.episode.eId}} <small>Content List</small></h1>
    </div>
    <!-- ACTION ROW -->

    <div class="row pad-bottom-md">
        <div class="col-xs-4">
            <a class="btn btn-success" href="#/episode/{{data.episode.eId}}/contents/add"><span class="glyphicons plus white icon-sm"></span> Add Content</a>
        </div>
        <div class="col-sm-8">
            <div class="input-group pull-right">
                <input type="text" class="form-control" data-ng-model="searchText" placeholder="Search">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="searchText = ''">
                        <strong><span aria-hidden="true">&times;</span><span class="sr-only">clear</span></strong>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-switch on="state.current">
        <div data-ng-switch-when="error">
            <div class="alert alert-danger" role="alert">
                <strong>Errors:</strong> {{state.msg}}
            </div>
        </div>
        <div data-ng-switch-when="fetching">
            <div class="alert alert-info" role="alert">
                <strong>Please Wait:</strong> Fetching content now....
            </div>
        </div>
        <div data-ng-switch-when="default">

            <!-- EMPTY VIEW -->

            <div ng-show="!data.contents.length" class="row">
                <div class="col-md-12">
                    <div class="alert alert-info" role="alert"><strong>Hey! </strong> No content for this episode can be found.</div>
                </div>
            </div>

            <!-- TABLE -->

            <div ng-show="data.contents.length" class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Position</th>
                            <th>Slug</th>
                            <th width="100">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="content in data.contents | filter : searchText | orderBy: 'positionOrder'">
                            <td>{{enumHelper.getLabel(content.typeEnumId, data.types)}}</td>
                            <td>{{enumHelper.getLabel(content.positionEnumId, data.positions)}}</td>
                            <td>{{content.slug}}</td>
                            <td>
                                <a href="#/content/edit/{{content._id}}" class="btn btn-primary" ><span class="glyphicons pencil white icon-sm"></span> Edit</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div data-ng-switch-default>
            <div class="alert alert-info" role="alert">
                <strong>Unknown State:</strong> "{{state.current}}"
            </div>
        </div>
    </div>
</div>







