<div data-ng-include="'/modules/cms/public/scripts/partials/main-menu.html'"></div>
<div class="col-xs-10 full-height content-area">

    <div class="page-header">
        <h1>Content <small> Edit</small></h1>
    </div>

    <div ng-switch on="state.current">
        <div ng-switch-when="fetching">
            <div class="alert alert-info" role="alert"><strong>Fetching....</strong> Please wait.</div>
        </div>
        <div ng-switch-when="saving">
            <div class="alert alert-info" role="alert"><strong>Saving....</strong> Please wait.</div>
        </div>
        <div ng-switch-when="saved">
            <div class="alert alert-success" role="alert"><strong>Saved!</strong></div>
        </div>
        <div ng-switch-when="error">
            <div class="alert alert-danger" role="alert"><strong>Error: </strong> {{state.msg}}</div>
        </div>
    </div>

    <form
        data-ng-hide="state.current === 'fetching'"
        data-ng-submit="save()">

        <fieldset>
            <legend>General</legend>

            <div class="row">

                <!-- Episode -->

                <div class="col-xs-4 form-group">
                    <label class="control-label" for="episode-option">Episode *</label>
                    <span class="validation-error pad-left-xs">{{data.content.errors.episodeEnumId.join(', ')}}</span>
                    <select id="episode-option"
                            class="form-control"
                            data-ng-model="data.content.episodeEnumId"
                            data-ng-options="epi.eId as epi.title for epi in data.episodeOptions">
                    </select>
                </div>

                <!-- Slug -->

                <div class="col-xs-4 form-group">
                    <label class="control-label" for="content-slug">Slug *</label>
                    <span class="validation-error pad-left-xs">{{data.content.errors.slug.join(', ')}}</span>
                    <input data-ng-model="data.content.slug" type="text" class="form-control" id="content-slug" placeholder="Slug">
                </div>

                <!-- Air Datetime -->

                <div class="col-xs-4 form-group">
                    <label class="control-label">Locked Until Datetime *</label>
                    <span class="validation-error pad-left-xs">{{data.content.errors.lockDateTime.join(', ')}}</span>
                    <quick-datepicker ng-model='data.content.lockDateTime'></quick-datepicker>
                </div>

            </div>

            <div class="row">

                <!-- Position -->

                <div class="col-xs-4 form-group">
                    <label class="control-label" for="content-position">Position *</label>
                    <span class="validation-error pad-left-xs">{{data.content.errors.positionEnumId.join(', ')}}</span>
                    <select id="content-position"
                            class="form-control"
                            data-ng-model="data.content.positionEnumId"
                            data-ng-options="position.id as position.label for position in data.positionOptions">
                    </select>
                </div>

            </div>

        </fieldset>


        <!-- TYPE -->

        <div class="form-group">
            <label class="control-label" for="content-type">Type *</label>
            <span class="validation-error pad-left-xs">{{data.content.errors.typeEnumId.join(', ')}}</span>
            <select id="content-type"
                    class="form-control"
                    data-ng-model="data.content.typeEnumId"
                    data-ng-options="type.id as type.label for type in data.typeOptions">
            </select>
        </div>

        <!-- TYPE SPECIFIC-->
        <fieldset data-ng-switch="enumHelper.getKey(data.content.typeEnumId, data.typeOptions)">
            <div data-ng-switch-when="article">
                <ng-include src="'/modules/cms/public/scripts/partials/content-forms/article-form.html'"></ng-include>
            </div>
            <div data-ng-switch-default="">
                <div class="alert alert-danger" role="alert"><strong>Oops....</strong> Unknown content type: {{enumHelper.getLabel(data.content.typeEnumId,data.typeOptions)}}</div>
            </div>
        </fieldset>

        <!-- SUBMIT BUTTON -->

        <div ng-switch on="ui.state.current">
            <div ng-switch-when="saving">
                <input type="submit" class="btn btn-primary disabled" value="Saving..." />
            </div>
            <div ng-switch-default>
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>

    </form>
</div>







