<div data-ng-include="'/modules/cms/public/scripts/partials/main-menu.html'"></div>
<div class="col-xs-10 full-height content-area">

    <div class="page-header">
        <h1>Episode {{data.episode.eId}}<small> Edit</small></h1>
    </div>
    <!--div class="row">
        <div class="col-xs-12">
            <a class="btn popover-item" rel="popover" data-content='<img src="http://www.altpress.com/images/uploads/news/Hello_Kitty.jpg"/>' title="Hi Paul Title">Popover button</a>

            <script>
                var image = '';
                $('.popover-item').popover({placement: 'bottom',html:true});
            </script>
        </div>
    </div-->
    <div ng-switch on="state.current">
        <div ng-switch-when="saved">
            <div class="alert alert-success" role="alert"><strong>Episode Saved</strong></div>
        </div>
        <div ng-switch-when="error">
            <div class="alert alert-danger" role="alert"><strong>Error: </strong> {{state.msg}}</div>
        </div>
    </div>
    <form data-ng-submit="saveEpisode()">
        <fieldset>
            <legend>General</legend>

            <!-- Row 1 -->

            <div class="row">

                <!-- Title -->

                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label" for="episode-title">Title *</label>
                        <span class="validation-error pad-left-xs">{{data.episode.errors.title.join(', ')}}</span>
                        <input data-ng-model="data.episode.title" type="text" class="form-control" id="episode-title" placeholder="Title">
                    </div>
                </div>

                <!-- titlePrefix -->

                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label" for="episode-title-prefix">Title Prefix *</label>
                        <span class="validation-error pad-left-xs">{{data.episode.errors.titlePrefix.join(', ')}}</span>
                        <input data-ng-model="data.episode.titlePrefix" type="text" class="form-control" id="episode-title-prefix" placeholder="Title Prefix">
                    </div>
                </div>

                <!-- Slug -->

                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label" for="episode-slug">Slug *</label>
                        <span class="validation-error pad-left-xs">{{data.episode.errors.slug.join(', ')}}</span>
                        <input data-ng-model="data.episode.slug" type="text" class="form-control" id="episode-slug" placeholder="Slug">
                    </div>
                </div>

                <!-- Air Datetime -->

                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label">Air Datetime *</label>
                        <span class="validation-error pad-left-xs">{{data.episode.errors.airDT.join(', ')}}</span>
                        <quick-datepicker ng-model='data.episode.airDT'></quick-datepicker>
                    </div>
                </div>

            </div>

            <!-- Row 2 -->

            <div class="row">

                <!-- Icon Url -->

                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Icon Url *</label>
                        <span class="validation-error pad-left-xs">{{data.episode.errors.iconUrl.join(', ')}}</span>
                        <neo-file-manager data-ng-model="data.episode.iconUrl"/>
                    </div>
                </div>
            </div>

            <!-- Row 2 -->

            <div class="row">

                <!-- Description -->

                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label" for="episode-desc">Description *</label>
                        <span class="validation-error pad-left-xs">{{data.episode.errors.desc.join(', ')}}</span>
                        <input data-ng-model="data.episode.desc" type="text" class="form-control" id="episode-desc" placeholder="Description">
                    </div>
                </div>

            </div>

        </fieldset>

        <!--
        ''
        ''
        'hpCta'
        'bricks'
        -->

        <div ng-switch on="ui.state.current">
            <div ng-switch-when="saving">
                <input type="submit" class="btn btn-primary disabled" value="Saving..." />
            </div>
            <div ng-switch-default>
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>

    </form>


</div>







