<!-- VENDOR -->
<script type="text/javascript" src="/modules/cms/public/vendor/ng-quick-date/ng-quick-date.js"></script>

<link rel=stylesheet href="/modules/cms/public/vendor/ng-quick-date/ng-quick-date.css" type="text/css" media=screen>
<link rel=stylesheet href="/modules/cms/public/vendor/ng-quick-date/ng-quick-date-default-theme.css" type="text/css" media=screen>
<link rel=stylesheet href="/modules/cms/public/vendor/ng-quick-date/ng-quick-date-custom.css" type="text/css" media=screen>

<!-- APPS -->
<script type="text/javascript" src="/modules/cms/public/scripts/apps/cms-app.js"></script>
<!-- ROUTES -->
<script type="text/javascript" src="/modules/cms/public/scripts/configs/cms-routes.js"></script>
<!-- SERVICES -->
<script type="text/javascript" src="/modules/cms/public/scripts/services/episode-services.js"></script>
<script type="text/javascript" src="/modules/cms/public/scripts/services/content-services.js"></script>
<!-- CONTROLLERS -->
<script type="text/javascript" src="/modules/cms/public/scripts/controllers/episode-edit-ctrl.js"></script>
<script type="text/javascript" src="/modules/cms/public/scripts/controllers/content-list-ctrl.js"></script>
<script type="text/javascript" src="/modules/cms/public/scripts/controllers/content-edit-ctrl.js"></script>
<!-- FILTERS -->

