.validation-error {
    color: #a94442;
    font-size: 85%;
    font-weight: 300;
}

.required {
    color: #a94442;
}

h2.inline,
h3.inline,
h4.inline {
    display: inline-block;
    vertical-align: baseline;
}

.well.danger {
    background-color: #f2dede;
    border-color: #ebccd1;
}

.redactor_toolbar {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    box-shadow: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;}