/* make icons play friendsly w/ bootstrap components */
.glyphicons {

    line-height: 10px;
}

.icon-inline {
    float: none !important;
    padding: 0px !important;
}

.icon-inline.icon-xs {
    width: 1.5em;
    vertical-align: top;
}

.icon-xs::before {
    font-size: 1.0em !important;
}
.icon-sm::before {
    font-size: 1.5em !important;
}
.icon-md::before {
    font-size: 2.0em !important;
}

.icon-grey::before {
    color: #777 !important;
}
.icon-light-blue::before {
    color: #5bc0de !important;
}
.icon-blue::before {
    color: #428bca !important;
}
.icon-dark-blue::before {
    color: #31708f !important;
}
.icon-green::before {
    color: #5cb85c !important;
}
.icon-orange::before {
    color: #f0ad4e !important;
}
.icon-brown::before {
    color: #8a6d3b !important;
}
.icon-red::before {
    color: #d9534f !important;
}
.icon-maroon::before {
    color: #a94442 !important;
}
.icon-purple::before {
    color: #6f5499 !important;
}

.btn-popover {
    line-height: 1em;
    height: 0.80em;
    width: 0.75em;
    background-color: transparent;
    margin-left: 5px;
}