td.align-bottom {
    vertical-align: bottom !important;
}

th.sortable {
    cursor: pointer;
}



/*
 * INTERACTIVE TABLES
 */

/*
table.interactive th{
    text-align: center;
}
*/
table.interactive td,
table.interactive th
{
    padding: 3px;
}


/*
table.interactive .form-control {
    border-radius: 0px !important;
}
*/
