body {
    background-color: #f8f8f8;
    padding:0px;
}

.well-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.well-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.well-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.well-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.well-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.full-height {
    min-height: 100%;
}

.content-area {
    padding-bottom: 15px;
}

#wrapper {
    width: 100%;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.sidebar {
    padding-left: 0px;
    padding-right: 0px;
}

.sidebar ul li {
    border-bottom: 1px solid #dedede;
}

.sidebar ul li a.active {
    background-color: #eee;
}
.content-area {
    background-color: #fff;
}

.modal.full-screen .modal-dialog {
    height:95%;
}

.modal.full-screen .modal-content {
    height:95%;
    overflow:auto;
}

img.thumb-md {
    max-height: 69px;
    max-width:  69px;
    border: #ddd 1px solid;
}

.pos-rel {
    position: relative;
}
.align-bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.pad-top-xs { margin-top:5px;  }
.pad-top-sm { margin-top:10px; }
.pad-top-md { margin-top:19px; } /*perfect*/
.pad-top-lg { margin-top:25px; }
.pad-top-xl { margin-top:50px; }

.pad-bottom-xs { margin-bottom:5px;  }
.pad-bottom-sm { margin-bottom:10px; }
.pad-bottom-md { margin-bottom:19px; } /*perfect*/
.pad-bottom-lg { margin-bottom:25px; }
.pad-bottom-xl { margin-bottom:50px; }

.pad-left-xs { margin-left:5px;  }
.pad-left-sm { margin-left:10px; }
.pad-left-md { margin-left:15px; }
.pad-left-lg { margin-left:25px; }

.pad-right-xs { margin-right:5px;  }
.pad-right-sm { margin-right:10px; }
.pad-right-md { margin-right:15px; }
.pad-right-lg { margin-right:25px; }

.fixed-bottom-row {
    border-top: 1px solid #eee;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
}

.ng-timepicker > table > tbody > tr > td > input{
    width:40px;
    font-size:14px;
}

.row.well{
    margin-left:0;
    margin-right:0;
}

.glyphicon {
    padding-right: 5px;
    padding-left: 5px;
}

.full-height {
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    background:#fff;
}

.sidebar{
    background:#f8f8f8;

}

.full-height.row > .col-sm-10{
    border-left: 1px solid #ddd;
    height: 100%;
}