<div class="col-xs-2 full-height sidebar">
    <div class="nav">
        <ul class="nav">
            <li>
                <a data-ng-class="{active: ui.panel.current === 'episode'}"
                   href="#/episode/{{data.episode.eId}}">Edit Episode</a>
            </li>
            <li>
                <a data-ng-class="{active: ui.panel.current === 'content'}"
                   href="#/episode/{{data.episode.eId}}/contents">Contents</a>
            </li>
        </ul>
    </div>
</div>