<legend>Article</legend>

<div class="row">

    <!-- Long Title -->

    <div class="col-xs-4 form-group">
        <label class="control-label" for="content-long-title">Long Title *</label>
        <span class="validation-error pad-left-xs">{{data.content.errors.longTitle.join(', ')}}</span>
        <input data-ng-model="data.content.longTitle" type="text" class="form-control" id="content-long-title" placeholder="Long Title">
    </div>

    <!-- Long Title -->

    <div class="col-xs-4 form-group">
        <label class="control-label" for="content-short-title">Short Title *</label>
        <span class="validation-error pad-left-xs">{{data.content.errors.shortTitle.join(', ')}}</span>
        <input data-ng-model="data.content.shortTitle" type="text" class="form-control" id="content-short-title" placeholder="Short Title">
    </div>

    <!-- Sub Title -->

    <div class="col-xs-4 form-group">
        <label class="control-label" for="content-sub-title">Sub Title *</label>
        <span class="validation-error pad-left-xs">{{data.content.errors.subTitle.join(', ')}}</span>
        <input data-ng-model="data.content.subTitle" type="text" class="form-control" id="content-sub-title" placeholder="Sub Title">
    </div>

</div>

<div class="row">

    <!-- Banner Image -->

    <div class="col-xs-12 form-group">
        <label class="control-label">Banner Image *</label>
        <span class="validation-error pad-left-xs">{{data.content.errors.bannerImage.join(', ')}}</span>
        <neo-file-manager data-ng-model="data.content.bannerImage"/>
    </div>

</div>

<div class="row">

    <!-- Article -->

    <div class="col-xs-12 form-group">
        <label class="control-label" for="content-article-body">Article Body *</label>
        <span class="validation-error pad-left-xs">{{data.content.errors.articleBody.join(', ')}}</span>
        <textarea
                rows="10"
                data-ng-model="data.content.articleBody"
                id="content-article-body"
                redactor="{imageUpload: npConfig.wysiwygUploadUrl}">
        </textarea>
    </div>

</div>