<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-picture"></span> BG4 Episodes<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <? foreach(\BG\Lib\Enums\Episodes::getAll() as $episode) : ?>
            <li class=""><a href="/cms/episodes#/episode/<?= $episode->id ?>"><?= $episode->label ?></a></li>
        <? endforeach; ?>
    </ul>
</li>