<!DOCTYPE html>
<html class="full-height">
<head>
    <meta charset="utf-8">
    <title>CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        if (NP === null || typeof(NP) != "object") { var NP = new Object(); }

        NP.config = {
            data: {},
            domain: '{{ @NEO_APP_DOMAIN }}',
            cmsSlug: '{{ @NEO_CMS_SLUG }}',
            wysiwygUploadUrl: '{{ @NEO_CMS_WYSIWYG_UPLOAD_URL }}',
            role: '{{ @ROLE }}',
            user: '{{ @USER }}'
        };
    </script>


    <link rel="stylesheet" type="text/css" href="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/glyphicons/glyphicons/css/glyphicons.css">
    <link rel="stylesheet" type="text/css" href="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/glyphicons/glyphicons/css/style.css">
    <link rel="stylesheet" type="text/css" href="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/glyphicons/filetypes/css/filetypes.css">
    <link rel="stylesheet" type="text/css" href="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/glyphicons/filetypes/css/style.css">
    <link rel="stylesheet" type="text/css" href="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/glyphicons/social/css/social.css">
    <link rel="stylesheet" type="text/css" href="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/glyphicons/social/css/style.css">

    <link rel="stylesheet" type="text/css" href="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/redactor/redactor.css">

    <link rel="stylesheet" type="text/css" href="/{{ @NEO_CMS_PUBLIC_PATH }}style/cms-layout.css">
    <link rel="stylesheet" type="text/css" href="/{{ @NEO_CMS_PUBLIC_PATH }}style/cms-text.css">
    <link rel="stylesheet" type="text/css" href="/{{ @NEO_CMS_PUBLIC_PATH }}style/cms-table.css">
    <link rel="stylesheet" type="text/css" href="/{{ @NEO_CMS_PUBLIC_PATH }}style/cms-icon.css">

    <script type="text/javascript" src="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/redactor/redactor.js"></script>

    <!-- Angular Code: https://code.angularjs.org/1.3.0-beta.17/ -->
    <script type="text/javascript" src="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/angular/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/angular/angular-resource.min.js"></script>
    <script type="text/javascript" src="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/angular/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/{{ @NEO_CMS_PUBLIC_PATH }}scripts/modules/cms-base/apps/cms-base-app.js"></script>
    <script type="text/javascript" src="/{{ @NEO_CMS_PUBLIC_PATH }}scripts/modules/cms-base/directives/cms-base-directives.js"></script>
    <script type="text/javascript" src="/{{ @NEO_CMS_PUBLIC_PATH }}scripts/modules/cms-base/services/cms-base-services.js"></script>
    <script type="text/javascript" src="/{{ @NEO_CMS_PUBLIC_PATH }}scripts/modules/cms-base/services/app-data-factory.js"></script>
    <script type="text/javascript" src="/{{ @NEO_CMS_PUBLIC_PATH }}vendor/redactor/angular-redactor.js"></script>

    <script type="text/javascript" src="//{{ @NEO_APP_DOMAIN }}/{{ @NEO_CMS_HEADER_CONTROLLER }}"></script>
    <script type="text/javascript" src="//{{ @NEO_APP_DOMAIN }}/{{ @NEO_CMS_SIDEBAR_CONTROLLER }}"></script>

    <include href="vendor/neopangea/f3-mod-cms/views/head.htm" />
</head>
<body class="full-height">
    <div class="wrapper full-height">

        <? /*
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="//{{ @NEO_APP_DOMAIN }}/{{ @NEO_CMS_SLUG }}">{{ @NEO_APP_NAME }}</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <include href="vendor/neopangea/f3-mod-cms/views/nav/main-nav.htm" />
            </ul>
        </nav>
        */ ?>
