<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" ng-controller="headerController" ng-show="uiReady">
    <div class="navbar-header">
        <a class="navbar-brand" href="/mm">{{ @NEO_APP_NAME }}</a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <li>
        <a href="/mm/misc-content#/misc-content"><span class="glyphicon glyphicon-globe"></span> Globals</a>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-picture"></span> Episodes<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class=""><a href="/mm#/episodes">List All</a></li>
                <li class=""><a href="/mm#/episode/add">Add Another</a></li>
            </ul>
        </li>
        <li>
            <a href="/mm/files#/files/list"><span class="glyphicon glyphicon-file"></span> Files</a>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Users<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class=""><a href="/mm/users#/users">Users</a></li>
                <li class=""><a href="/mm/users/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>