<button type="button"
        data-trigger="focus"
        class="btn-popover"
        data-toggle="popover"
        title=""
        data-content="">
        <span class="glyphicons circle_question_mark icon-xs icon-blue">&nbsp;</span>
</button>