<div class="col-xs-2 full-height sidebar" ng-controller="sidebarController" ng-show="uiReady">
    <div class="nav">
        <ul class="nav">
            <li class=""><a href="/mm/misc-content#/misc-content/list"><span class="glyphicon glyphicon-globe"></span> Globals</a></li>
            <li class=""><a href="/mm/episodes#/episode/list"><span class="glyphicon glyphicon-picture"></span> Episodes</a></li>
            <li class=""><a href="/mm/files#/file/list"><span class="glyphicon glyphicon-file"></span> Files</a></li>
            <li class=""><a href="/mm/users#/user/list"><span class="glyphicon glyphicon-user"></span> Users</a></li>
        </ul>
    </div>
</div>